nav{
    height:80px;
    color: black;
    }

.login{
    width:120px;
    border-radius:20px;
    font-weight: 600;
    background:rgb(6,138,63);
    color:white;
    border:1px solid white;
    text-align:center;
}
.login:hover{
    background-color:green;
}
    
.website-url{
    width:120px;
    font-weight: 600;
    color:black;
    border:1px solid white;
    border-radius:20px;
    text-align:center;
}
.website-url:hover{
    background-color:green;
}
    
.certificate{
    width:120px;
    border-radius:20px;
    font-weight: 600;
    background:pink;
    color:black;
    border:1px solid white;
    text-align:center;
}
.certificate:hover{
    background-color:green;
}
.pro
{
    
    width:120px;
    font-weight: 600;
    color:black;
    border:1px solid white;
    border-radius:20px;
    text-align:left;
}
.pro:hover{
    background-color:green;
}

    
 .logo{
    width:45px;
    position:relative;
    left:16px;
    top:3px;
}
.ul-list-one{
    
    position:relative;
    left:25px;
}
.ul-list-one{
    
    margin:0px;
}
.ul-list-one li{
        font-weight:500;
        font-size:20px;
        
}
.ul-list-one li:hover{
    background-color:green;
    color:white;
}
.ul-list-two li a img:hover{
    color:green;
}